html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.hero-unit {
	margin-top: 60px;
}

#content {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Set the fixed height of the footer here */
#push, 
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#text-content {
	display: inline-block;
}

#text-content p {
	font-size: large;
	color: grey;
}

#find-me {
	font-size: medium;
	color: grey;
	text-align: center;
	padding-top: 5%;
}

.accordion-heading {
	font-size: medium;
	color: grey;
}

.accordion-toggle i {
	float: right;
}

.download-link {
	float: right;
}

#photo {
	float: right;
	width: 20%;
	margin-left: 5%;
	margin-bottom: 5%;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #content {
    padding-top: -20px;
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-unit {
    margin-right: -20px;
    margin-left: -20px;
  }
  
}
.container .credit {
  margin: 20px 0;
}