@font-face {
  font-family: 'Hattori Hanzo';
  src: url('../font/Hattori_Hanzo.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../font/MonoSocialIconsFont-1.10.eot');
    src: url('../font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.navbar{
	border-bottom:1px solid #fff;
	box-shadow:0px 0px 1px #000;
	font-family: 'Droid Sans', sans-serif;
	font-size: 30px;
}

.navbar-inner {
	background:#1e2424; /* Background color */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333740', endColorstr = '#1e2424');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333740', endColorstr = '#1e2424')";
	background: -moz-linear-gradient(top, #333740, #1e2424);
	background: -ms-linear-gradient(top, #333740, #1e2424);
	background: -o-linear-gradient(top, #333740, #1e2424);
	background: -webkit-gradient(linear, center top, center bottom, from(#333740), to(#1e2424));
	background: -webkit-linear-gradient(top, #333740, #1e2424);
	background: linear-gradient(top, #333740, #1e2424);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	filter:none !important;
	box-shadow:none !important; /* Box shadow */ 
	border-radius:0px;
	border:none;
}

.hero-unit {
	background-color: #FFFFFF;
	text-align: center;
}

.navbar .nav > li > a,
.navbar .brand{
	padding: 15px 18px 15px; /* Height of navbar */
	color:#fff !important; /* Nav links color */
	font-size:14px;
}

.navbar .brand {
	font-size: 30px;
	font-weight: 200;
	font-family: 'Hattori Hanzo';
}

.navbar a, .navbar a:visited{
	text-shadow:none !important;   /* Text shadow */
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	background-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: #FA6B32;
	border-bottom-width: 5px;
}

#content {
	margin-top: 60px;
}

.page {
	width:100%;
	position:absolute;
}

.accordion-heading {
	font-size: medium;
	color: grey;
}

.accordion-toggle i {
	float: right;
}

.download-link {
	float: right;
}

#photo {
	float: right;
	width: 20%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#text-content p {
	font-size: large;
}

a {
	color: #666666;
}

#find-me {
	font-size: medium;
	color: grey;
	text-align: center;
	padding-top: 25%;
	font-size: 4em;
}

#find-me a:hover {
	text-decoration: none;
}

#find-me a p {
	display: none;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	body {
		padding: 0px;
	}
	
	body nav {
		padding-left: 15px;
	}
	
	#content {
		margin-top: 0px;
	}
}