<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="author" content="Xabier Laiseca" />
		<meta name="description" content="Xabier Laiseca : Biography" />

		<link href="/assets/css/bootstrap.min.css" media="screen" rel="stylesheet"></link>
		<link href="/assets/css/bootstrap-responsive.min.css" media="screen" rel="stylesheet"></link>
		<link href="/assets/css/main.css" media="screen" rel="stylesheet"></link>

		<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

		<title>{{ page.title }}</title>
	</head>

	<body>

		<nav class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Xabier Laiseca</a>
					<ul class="nav">
						<li ><a href="#">Publications</a></li>
						<li ><a href="#">R&D projects</a></li>
						<li ><a href="/">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- MAIN CONTENT -->
		<div class="container" >
			{{ content }}			
		</div>

		<!-- FOOTER  -->
		<div id="footer_wrap" class="outer">
			<footer class="inner">
				<p>
					Published with <a href="http://pages.github.com">GitHub Pages</a>
				</p>
			</footer>
		</div>

	</body>
</html>
